{% extends "base.html" %}
{% load static %}

{% block title %} All Records {% endblock %}

{% block content %}
    {% for record in records %}
        <div class="card col-lg-10 col-md-10 col-sm-10 mb-5 mt-5">
            <div class="card-body">
                <h5 class="card-title">{{ record.author }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ record.email }}</h6>
                <p class="card-text">{{ record.text }}</p>

                <a href="{% url 'update_record' record.pk %}"><img class="action-icons m-2"
                                                                   src="{% static "img/pencil.svg" %}"
                                                                   alt="delete"></a>
                <a href="{% url 'delete_record' record.pk %}"><img class="action-icons m-2"
                                                                   src="{% static "img/repo-deleted.svg" %}"
                                                                   alt="delete"></a>
            </div>
        </div>
    {% endfor %}
{% endblock %}